:root {
    --primary: #93e4c1;
    --accent_1: #3baea0;
    --accent_2: #118a7e;
    --accent_3: #1f6f78;
    --text: #f5f5f5;
}

body {
    color: var(--accent_3);
    background-color: var(--primary);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: var(--text);


}

/* ===== HEADER ===== */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--accent_3);
    color: var(--text);
    padding: 2rem;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header img {
    width: 40px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

header a {
    color: var(--text);
    text-decoration: none;
}

header a.active {
    border-bottom: 2px solid var(--text);
}

#menuButton {
    display: none;
    background: none;
    color: var(--text);
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

footer {
    background-color: var(--accent_3);
    color: var(--text);
    text-align: center;
    padding: 1rem;
}

footer a {
    color: var(--text);
    margin: 0 0.5rem;
    text-decoration: none;
}

.social {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.social a img {
    width: 40px;
    
    height: 40px;
    transition: transform 0.3s, opacity 0.3s;
}

.social a img:hover {
    transform: scale(1.1);
    
    opacity: 0.8;
    
}