@media (max-width: 700px) {
    nav ul {
        display: none;
        flex-direction: column;
        gap: 0;
        background-color: var(--accent_3);
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 1rem;
    }

    nav ul.show {
        display: flex;
    }

    #menuButton {
        display: block;
    }
}